.project-description,
.technologies {
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: center;
}

.dropdown a,
.dropdown.active {
  display: block;
}

.contact-h2,
.dropdown a {
  font-weight: 700;
}

.sticky,
footer {
  box-shadow: 0 2px 6px rgba(0,0,0,.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#particles-container {
  background-color: #1a202c;
  background-image: url('public//hacker-station-is-located-center-server-with-storage-system_656560-415-transformed.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
}

.project-title {
  text-align: center;
  color: #4fd1c5;
  font-family: 'Nunito Sans',serif;
  font-size: 20px;
}

.contact-h2,
.project-description,
.technologies {
  font-family: Barlow,sans-serif;
}

.project-description {
  font-size: 14px;
}

.technologies {
  font-size: 13px;
  color: #d1d5db;
}

.project-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
  cursor: pointer;
  transform: translate3d(0,0,0);
  transition: background-color .3s,color .3s;
}

.see-live-button,
.source-code-button {
  display: inline-block;
  padding: 8px 15px;
  font-size: 12px;
  color: #f8f8f2;
  text-decoration: none;
  cursor: pointer;
}

.source-code-button {
  background-color: #254f9e;
  border: none;
  border-radius: 5px;
}

.see-live-button {
  background-color: #6429ad;
  border: none;
  border-radius: 5px;
}

.source-code-button:hover {
  background-color: #2f62c0;
  transform: translate3d(0,2px,0);
}

.see-live-button:hover {
  background-color: #7c35d3;
  transform: translate3d(0,2px,0);
}

.project-image {
  align-items: center;
}

.project-image img {
  width: 100%;
  height: 290px;
}

.skill-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #2d3748;
  padding: 15px;
  border-radius: 8px;
  transition: background-color .3s;
}

.skill-badge i {
  font-size: 36px;
  color: #4fd1c5;
  margin-bottom: 8px;
}

.skill-text {
  color: #fff;
  font-size: 14px;
}

.blog-text {
  color: #d1d5db;
}

.contact-h2,
.menu-icon:hover,
.profile-text {
  color: #4fd1c5;
}

.skill-badge:hover {
  background-color: #4a5568;
}

.footer-icon:hover {
  transform: scale(1.4);
  border-top: 0 rgba(0,0,0,.3);
  transition: transform .3s,box-shadow .3s;
}

.scrollbar {
  scrollbar-color: #2d3748 #1a202c;
}

.input-field {
  min-height: 25px;
}

.profile-border {
  border: 6px solid #4a5568;
}

.profile-text {
  font-family: 'Nunito Sans',serif;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  border-bottom: 4px inset #4a5568;
  z-index: 100;
}

#menu a:hover {
  color: #58e3d5;
  transform: scaleX(1);
  padding-top: 25px;
}

.logo {
  width: 25px;
  height: 25px;
  display: inline-flex;
  margin-left: 2px;
  margin-bottom: 3px;
}

.contact-textarea,
textarea {
  height: 100px;
  overflow: hidden;
}

.btn-secondary,
.social-media-icons {
  margin-left: 10px;
}

.tagline {
  font-size: 10px;
  color: #aaa;
}

.custom-font {
  font-family: Poppins,sans-serif;
}

.nav-color {
  background-color: #222;
}

.dropdown {
  position: absolute;
  top: calc(100% + 6px);
  left: 5%;
  transform: translateX(-80%);
  display: none;
  padding: 0;
  background-color: #2a2a2a;
  color: #fff;
  border: 1px solid #1a1a1a;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
  z-index: 1;
}

.contact-input,
.contact-textarea {
  border: 1px solid #4a5568;
  background-color: #1f2937;
  transition: border-color .3s,background-color .3s,color .3s;
}

.menu-icon {
  color: #2a2a2a;
  cursor: pointer;
}

.dropdown a {
  padding: 13px 20px;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 2px 4px rgba(0,0,0,.1);
}

.dropdown a:hover {
  background-color: #1a202c;
  color: #58e3d5;
}

.nav-font {
  font-family: 'Nunito Sans',sans-serif;
}

.name-font {
  font-family: 'Nunito Sans',serif;
}

footer {
  border-top: 6px ridge #4a5568;
}

#about,
#contact,
#projects,
#skills {
  padding: 40px 0;
}

.contact-input {
  color: #d1d5db;
}

.contact-textarea {
  color: #d1d5db;
  padding-right: 16px;
  min-height: 30px;
}

.contact-input:focus,
.contact-textarea:focus {
  border: 1px solid #4fd1c5;
  box-shadow: 0 0 0 3px rgba(79,209,197,.3);
}

textarea {
  width: 300px;
  padding-right: 24px;
}

textarea:focus {
  box-shadow: 0 0 0 3px rgba(79,209,197,.3);
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transform: translate3d(0,0,0);
  transition: background-color .3s,color .3s;
}

.btn-primary {
  background-color: #254f9e;
  color: #d1d5db;
}

.btn-primary:hover {
  background-color: #2f62c0;
  color: #d1d5db;
  transform: translate3d(0,2px,0);
}

.btn-secondary {
  background-color: #6429ad;
  color: #d1d5db;
}

.btn-secondary:hover {
  background-color: #7c35d3;
  color: #d1d5db;
  margin-left: 10px;
  transform: translate3d(0,2px,0);
}
@media (max-width:640px) {
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  .grid,
  .grid-cols-1 {
    grid-template-columns: 1fr;
  }

  .container {
    width: 90%;
  }

  .ul-font {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .footer-icon {
    margin-top: 16px;
    padding-top: 16px;
  }

  .social-icons {
    margin-bottom: 20px;
    gap: 32px;
  }
}
@media (min-width:641px) and (max-width:1024px) {
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  .grid-cols-1 {
    grid-template-columns: repeat(1,minmax(0,1fr));
  }

  .ul-font {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .container {
    width: 80%;
    height: auto;
    justify-self: center;
  }

  .footer-icon {
    padding: 16px;
  }
}
@media (min-width:1025px) {
  .grid-cols-1 {
    grid-template-columns: repeat(2,minmax(0,1fr));
  }

  .container {
    padding: 2px;
    width: 80%;
  }

  .ul-font {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .footer-icon {
    padding: 16px;
  }
}
